
/* Debug */

div.debug-window
{
	display:none;
	background-color:#ddd;
	color:black;
	border:1px solid #444;
	border-radius:5px;
	position:absolute;
	top:50px;
	left:50px;
	right:50px;
	bottom:50px;
	/* white-space: pre-wrap !important; */
	padding-left:35px;
	overflow:auto;
	z-index: 5;
}

div.debug-window div.debug-tabs a
{
	display:inline-block;
	margin-right:5px;
	padding:3px 5px;
	
	color:black;
	border:1px solid grey;
	background:white;
}

div.debug-window div.debug-tabs a.selected
{
	background:#C690C6;
}

div.debug-window div.debug-tabs
{
	padding:20px;
}

div.debug-window pre
{
	margin-top:0px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size:12px;
}

span.debug-red
{
	color:red;
}

/* End Debug */
