#view
{
	position:absolute;
	top:0px;
	right:2%;
	width:75%;
/*
	background-color:#eee;
*/
	height:80%;
	margin:auto;
	text-align:center;
	padding:15px 0px;
}

#view img
{
	max-width:100%;
	max-height:100%;
}

.inline
{
	display:inline;
}

#editDataForm input[type="text"]
{
	font: 90% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
/*
	font-weight:bold;
*/
	padding:4px 6px;
	margin:0px;
	width:300px;
	margin-top:10px;
	margin-left:10px;
	color:#fff;
}

#editDataForm select
{
	margin-top:10px;
}

#editDataForm input
{
	font-weight:lighter;
	margin:0px;
	border:1px solid #444;
	background-color:#202020;
	border-radius:3px;
	
}

#editDataForm
{
	display:none;
}

.score
{
	float:left;
	margin-left:5px;
	cursor:default;
}

.score img
{
	position:relative;
	top:3px;
	margin-left:5px;
	margin-right:5px;
}

.contextzone
{
	width:20%;
	bottom:0px;
	border-bottom:0px;
	border-right:1px solid #444;
	display:block;
	padding-right:10px;
	box-shadow:1px 1px #222222;
}

.contextzone input
{
	max-width: 85%;
}

.contextzone p
{
	display:block;
}

.bottompanel
{
	position:absolute;
	width:100%;
	bottom:5px;
}

.contextzone hr
{
	margin:5px 0px;
}

.infobox
{
	clear:both;
	border-top:1px solid #1F1F1F;
	padding:5px;
	position:relative;
	top:10px;
}

.infobox .category
{
	display:block;
	clear:both;
}

.infobox .tag strong
{
	margin-left:5px;
}

.Explicit
{
	color:#f22;
}

.Questionable
{
	color:#ff2;
}

.Safe
{
	color:#2f2;
}
